#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.stores {
  padding: 2em;
}
.stores__header {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  .header__search {
    width: 50%;
    text-align: left;

    form {
      width: 60%;
    }
    .search--input {
      width: 100%;
    }
  }
  .header__filters {
    display: flex;
    width: 50%;
    gap: 10px;
    justify-content: end;
  }
}

.read-the-docs {
  color: #888;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #212020;
}

table tr:hover {
  background-color: #21202000;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.stores__pagination {
  display: flex;
  justify-content: end;
}
